<html>
    <head>
        
    </head>
    <body background="blue.jpg">
        <H1 style="color: white;">Un-Normalized</H1>
        <img src="WhatsApp Image 2022-12-14 at 9.32.16 AM.jpeg" alt="">
        <h1 style="color: white;">BCNF</h1>
        <img src="bcnf11.jpeg" alt=""><br><br><br>
        <img src="bcnf2.jpeg" alt=""><br><br><br>
        <img src="bcnf3.jpeg" alt=""><br><br><br>
        <img src="bcnf4.jpeg" alt=""><br><br><br>
        <img src="bcnf5.jpeg" alt="">
    </body>
    <style>
        body{
    background-size: cover;
background-position: center;
position: relative;
background-repeat: no-repeat;
  }
  
    </style>
</html>